# Local Minecraft instance files and large user data
/.minecraft/
/saves/
/backups/
/backups-/
/worlds/
/.technic/
/.curse/
/instances/
/crash-reports/
/.cache/
/.mixin.out/
/data/
/datapacks/
/downloads/
/essential/
/impossible_data/
/local/
/logs/
/modernfix/
/mods/
/patchouli_books/
/profileImage/
/resourcepacks/
/schematics/
/screenshots/
/shaderpacks/
/sparsestructures/
/xaero/
/XaeroWaypoints_BACKUP240807/

# OS and editor files
.DS_Store
Thumbs.db
*.log

# Minecraft instance-specific and launcher files
minecraftinstance.json
ops.json
patchouli_data.json
user-prefs.json
usercache.json
usernamecache.json
whitelist.json
instance.cfg
*.lock
.curseclient
.qmenu_opened.marker
rhino.local.properties
*.dat
*.dat_old
options.txt

# Temp zips and local exports
*.7z

# Optional: ignore any personal keys or config
secret-*.json
config/mobbattle-client.toml
config/mobbattle.toml
